.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Dézoomer encore plus les images du carousel */
.carousel .slide img {
    max-width: 30% !important;  /* réduit encore la taille */
    height: auto !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 10px;
    object-fit: cover;
}

/* Responsive pour mobile */
@media (max-width: 768px) {
    .carousel .slide img {
        max-width: 60% !important;  /* plus large sur petit écran */
    }
}






